fastapi
uvicorn[standard]
confluent-kafka
langchain-core
langchain-ollama
langgraph
langchain-community
redis
prometheus_client
requests
customtkinter
Pillow
matplotlib
networkx
neo4j
psutil
scapy
pyinstaller
pyinstaller-hooks-contrib
